# Ignore folders (end with /)
build/

uploads/

# Ignore xls, xlsx,csv files
*.xlsx
*.xls
*.csv

# Ignore pdf files
*.pdf

# Ignore specific files
file_name.ext

*.spec

# Ignore all `.log` files
*.log

# Ignore everything inside temp/ but not the folder itself
temp/*

# Ignore all Python compiled files
__pycache__/
*.pyc
